html, body { margin: 0; padding: 0;background: black; color: white}
#App {
    position: fixed;
    font-size: 2rem;
}
#title-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%,0rem);
    text-align: center;
}
#title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0rem);
    width: 22rem;
    background-color: #313131;
    border-radius: 5rem;
}
#author {
    font-size: 1.5rem;
}
.trainLanguage {
    margin-bottom: 0;
    position: fixed;
    left: 50%;
}
.dictionary {
    margin-left: 12.6rem;
}
.questionContainer {
    display: table;
    padding-left: 1rem;
    margin-top: 2rem;
    width: 60vw;
    height: 7rem;
    background-color: #313131;
    border-radius: 3rem;
}
#languages {
    position: fixed;
    left: 50%;
    top: 9rem;
    transform: translate(-50%,0rem);
}
#settings {
    cursor: pointer;
    user-select: none;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: transform 0.3s ease-in-out;
}
#settings:hover {
    transform: scale(1.1);
}
.pointer {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .questionContainer {
        width: 90vw;
    }
    #App {
        font-size: 2rem;
    }
}